<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-shop| Add client</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body th:style="'background:url('+ @{/images/dataBack.jpg}">
    <div class="global">
        <h1 style="text-align: center">Add new client</h1>
        <form action="#" th:action="@{/clients/add}" th:object="${clientWebModel}" method="post">
            <div class="alert alert-warning" th:if="*{emailError}">
                Client with this email already exists.
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" id="email" name="email" th:field="*{email}" class="form-control" required/><br/>
            </div>
            <div class="form-group">
                <label>Name:</label>
                <input type="text" name="name" th:field="*{name}" class="form-control" required/><br/>
            </div>
            <div class="form-group">
                <label>Surname:</label>
                <input type="text" name="surname" th:field="*{surname}" class="form-control" required/><br/>
            </div>
            <input type="submit" class="btn btn-primary"/>
        </form>
        <a class="global hrefs" href="/clients">Back to list of all products<br></a>
        <a class="global hrefs" href="/">Back to welcome page</a>
    </div>
</body>
</html>